*,
:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  padding: 0;
  background: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display SC", serif;
  color: #333;
  font-weight: 700;
  color: #000;
  text-rendering: optimizeLegibility;
  margin: 0 0 0.5em 0;
}
a,
li,
p {
  font-family: Lato, Arial, sans-serif;
  color: #4e4e4e;
  font-size: 1em;
  line-height: 1.75em;
  margin-top: 0;
}
a:hover {
  text-decoration: none !important;
  color: #333 !important;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.container {
  margin: auto;
  max-width: 770px;
  padding: 0 20px;
}
.main-nav {
  background: #f4f4f4;
  padding-top: 23px;
}
.main-nav nav ul li a {
  color: #a7a7a7;
}
.main-nav nav ul li.active a {
  color: #4d4d4d;
}
.navbar {
  font-size: 105%;
  padding-bottom: 1.65em;
}
.navbar:after {
  content: "";
  display: table;
  clear: both;
}
.navbar:after {
  content: "";
  display: table;
  clear: both;
}
.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.navbar ul:after {
  content: "";
  display: table;
  clear: both;
}
.navbar ul:after {
  content: "";
  display: table;
  clear: both;
}
.navbar li {
  float: left;
  margin-right: 1.65em;
}
.navbar a,
.navbar span {
  display: block;
  text-decoration: none;
}
.navbar li.active a,
.navbar span {
  text-decoration: none;
  cursor: text;
  color: rgba(0, 0, 0, 0.4);
}
.section.second {
  margin-bottom: 90px;
}
.section .container {
  position: relative;
}
.section .container:after {
  position: absolute;
  content: url(../img/separator.png);
  left: 20px;
}
.section .container h1 {
  text-transform: uppercase;
  margin-bottom: 35px;
  position: relative;
  font-family: "Playfair Display SC", serif;
  color: #333;
}
.section h2 {
  font-size: 2.25em;
  line-height: 1.1;
  font-family: "Playfair Display SC", serif;
  color: #333;
  margin-bottom: 30px;
}
.section-title {
  font-family: Lato, Arial, sans-serif;
  color: #2e2e2e;
  font-size: 25px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0;
}
.intro {
  padding: 95px 0 70px 0;
  overflow-x: hidden;
  margin: 0;
}
.intro img {
  display: block;
  width: 125px;
  height: 125px;
  border-radius: 99px;
  border: 1px solid #cbcbcb;
  margin-bottom: 15px;
}
.intro .wrap {
  margin: 20px 0;
}
.intro h1:before {
  position: absolute;
  left: -250px;
  top: -170px;
  font-size: 270px;
  z-index: -1;
  color: #f4f4f4;
}
.intro h1 span {
  font-size: 47px;
}
.skills .skill-list {
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
  margin-bottom: 1.65em;
}
.skills .skill-list li:first-child {
  font-size: 0.9375em;
  color: #8c8c8c;
}
.highlight {
  padding: 16px;
  overflow: auto;
  font-size: 15px;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-radius: 3px;
}
.award .award-list {
  padding-left: 0;
  list-style-type: none;
  margin-left: 0;
  margin-bottom: 1.65em;
}
.award .award-list li.first {
  font-size: 0.9375em;
  color: #8c8c8c;
}
.units-row:after {
  content: "";
  display: table;
  clear: both;
}
.units-row .unit-20,
.units-row .unit-50,
.units-row .unit-80 {
  float: left;
  margin-left: 0;
}
.units-row .unit-80 {
  width: 80%;
}
.units-row .unit-50 {
  width: 50%;
}
.units-row .unit-20 {
  width: 20%;
}
.work .work-list {
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 1.65em;
}
.work .work-list li {
  list-style: none;
  font-size: 0.9375em;
  color: #8c8c8c;
}
.work .work-list li a {
  padding-bottom: 5px;
  font-size: 1.1875em;
  font-weight: 700;
  text-decoration: none;
  border-bottom: 1px solid #b3b3b3;
}
.work .work-list li a:hover {
  border-bottom: 1px solid #333;
}